/**
 * DateTimeRange component styles
 */
.date_time_range {

  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: row;
  padding: 8px;

  > div {
    margin: 0;
  }

  .wrapper {
    width: 300px;
    padding: 0 8px;
    margin-left: 25px;

    :global {
      .md-select-field .md-divider {
        width: 0;
      }
    }
    .select_wrapper {
      width: 50%;

      .label {
        font-size: 13px;
        color: #7F8FA4;
        font-weight: 600;
        padding-bottom: 5px;
        display: block;
        margin: 0;
      }

      .select {
        border: 1px solid #DFE2E5;
        padding: 0px 6px 0px 6px;
        border-radius: 4px;
        height: 38px;
        background: #FFF;
        background: -webkit-linear-gradient(#FFF, #F3F5F7);
        background: -o-linear-gradient(#FFF, #F3F5F7);
        background: -moz-linear-gradient(#FFF, #F3F5F7);
        background: linear-gradient(#FFF, #F3F5F7);
      }
    }
  }
}

